<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%%= stylesheet_link_tag "application" %>
    <%%= javascript_include_tag "application" %>
    <%%= csrf_meta_tag %>
    <%%= yield(:head) %>
  </head>
  <body class="with-header">
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to app_name, '#', :class => "brand" %>
          <ul class="nav">
          	<li class="active">
          		<a href='#'>Home</a>
          	</li>
          	<li>
          		<a href='#'>About</a>
          	</li>
          </ul>
        <p class="pull-right"><%= text_field '#', '#'%></p>
        </div>
      </div>
    </div>
    <%= display_flash_message %>
    <div class="container">
      <%%= content_tag :h1, yield(:title) if show_title %>
      <%%= yield %>
      <footer>
         <p><%= app_name %> &copy;  <%= Time.now.year %></p>
      </footer>
    </div>
  </body>
</html>
